.movies-card-list-container {
  margin-top: 10px;
}

.movies-card-list {
  margin: 70px auto 30px;
  padding: 0;
  display: grid;
  justify-content: center;
  column-gap: 24px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-items: center;
  line-height: 0;
}

.movies-card-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-card-list__more-button {
  border: 1px solid #e8e8e8;
  background: #fff;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  padding: 0;
  margin: 50px auto 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  visibility: visible;
  opacity: 1;
}

.movies-card-list__more-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card-list__more-button_unactive {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  
  .movies-card-list {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 530px) {
  
  .movies-card-list {
    margin: 40px auto 30px;
    grid-template-columns: repeat(1, 300px);
    row-gap: 16px;
  }

  .movies-card-list__more-button {
    width: 240px;
    
  }
}