.movies-card-lis-container {
  margin-top: 10px;
}

.movies-card-list {
  margin: 70px auto 30px;
  padding: 0;
  display: grid;
  justify-content: center;
  column-gap: 24px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, 364px);
  justify-items: center;
  line-height: 0;
}



@media screen and (max-width: 768px) {
  
  .movies-card-list {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 530px) {
  
  .movies-card-list {
    margin: 40px auto 30px;
    grid-template-columns: repeat(1, 300px);
    row-gap: 16px;
  }
}