.portfolio {
  width: 100%;
}

.portfolio__container {
  padding: 50px 70px 106px;
}

.portfolio__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__links-list {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  list-style: none;
}

.portfolio__links-item {
  padding: 20px 0 19px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__links-item:last-of-type {
  border-bottom: none;
}

.portfolio__links-item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.portfolio__link {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
  text-decoration: none;
}

.portfolio__link-icon {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 0 50px 71px;
  }

  .portfolio__link .portfolio__link-icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 530px) {
  .portfolio__container {
    padding: 0 14px 51px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__links-list {
    padding-top: 20px;
  }

  .portfolio__link, .portfolio__link-icon {
    font-size: 18px;
  line-height: 28px;
  }

  .portfolio__link-icon {
    width: 11px;
  }
}
