.nav-tab {
  width: 308px;
  height: 36px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-tab__link {
  padding: 10px 13px;
  background-color:#E8E8E8;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  transition: opacity .3s ease;
}

.nav-tab__link:hover {
  background-color: #f2f2f2;
  color: #a4a4a4;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12), -10px -10px 15px rgba(255, 255, 255, 0.5);
  transition: background-color 3s cubic-bezier(.1, .8, .5, 2), color .3s linear, box-shadow .5s ease-in-out;
  cursor: pointer;
  
}

.nav-tab__link:focus {
  cursor: pointer;
  transform: scale(.95);
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .nav-tab {
    width: 258px;
    height: 26px;
    margin-bottom: 17px;
    gap: 6px;
  }

  .nav-tab__link {
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 10px;
  }
}
